@media (min-width: 421px) {
    .ant-card-cover {
        width: 300px;
    }

    .description {
        height: 280px;
    }

    .ant-card-body {
        width: 320px;
    }

    .ant-card.ant-card-bordered.ant-card-hoverable {
        display: flex;
    }

    .ant-card-meta-title {
        width: 250px;
    }
}

@media (max-width: 421px) {
   

    .description {
        position: relative;
        top: -85px;
        left: -20px;
        width: 367px;
        height: 92px;
        margin-left: 6px;
    }

    .ant-card-cover {
        width: 60px;
    }

    .ant-card-meta {
        position: relative;
        bottom: 120px;
        left: 55px;
        width: 290px;
    }

    img.poster {
        margin: 10px;
        border-radius: 0;
    }

    .genre {
        position: relative;
        top: -105px;
        left: 60px;
    }

    ul.ant-rate {
        position: relative;
        top: -55px;
        left: 85px;
    }
}